# Salin file ini menjadi .env dan sesuaikan nilainya.
# JANGAN commit file .env yang sebenarnya ke Git.

DB_HOST=postgres
DB_PORT=5432
DB_NAME=todo_db
DB_USER=todo_user
DB_PASSWORD=todo_password

# Port yang digunakan oleh server PHP.
# Di Render, variable ini akan diisi otomatis oleh platform.
PORT=8000
